* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --bs-green: #76b900;
    --bs-teal: #86c000;
    --btn-success: #86c000;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  body {
    margin-top: 60px;
    background-color: black;
    font-family: "Rubik", sans-serif;
  }

  /* HEADER */
  
  nav {
    background-color: #000000;
    box-shadow: 0rem 0.1rem 0.5rem var(--bs-green);
  }
  
  .nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
  }
  
  .nav-link:hover {
    color: var(--bs-green);
  }
  
  .navbar-toggler {
    background-color: transparent;
  }
  
  .navbar-toggler span {
    display: block;
    width: 22px;
    height: 3px;
    border: 1px;
    background: #fff;
  }
  
  .navbar-toggler span + span {
    margin-top: 5px;
    width: 22px;
    margin-left: 0px;
  }
  
  .navbar-toggler span + span + span {
    width: 22px;
    margin-left: 0px;
  }

  .is-active{
    color: #76b900;
  }

  /* MAIN */

  .categories{
    padding: 3rem 5rem;
  }

  .dropdown{
    display: none;
  }

  .dropdown-menu{
    padding: 0;
  }

  .category-button{
    background-color: #76b900 !important;
  }

  .category-button:active{
    background-color: #76b900 !important;
  }

  .category-button:focus{
    background-color: #76b900 !important;
    box-shadow: none;
  }

  .category-button:active:focus{
    background-color: #76b900 !important;
    box-shadow: none;
  }

  .item{
    cursor: pointer;
    background-color:#131212;
    color: white;
    border-bottom: 1px solid #292828 !important;
  }

  .item:hover{
    background-color:#5c9100;
    color:#000000;
  }

  .list-group-item.active{
    background-color: #76b900;
    color: #000000;
  }  

  .card{
    border: none;
  }

  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: #1a1a1a;
  }

  .card-body h5, .card-body p{
    margin: 0;
  }

  .card-body h5{
    color:#76b900;
    font-size: 1.1rem;
  }

  .card-body p{
    font-size: 1rem;
    color: white;
  }

  .card-body a {
    font-size: 1rem;
    background-color: #76b900;
    border: none;
  }

  .card-body a:hover {
    background-color: #76b900;
  }

  .title {
    max-height: 70px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de líneas a mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
  }  

  .show-more{
    background-color: #76b900;
    color: white;
  }

  .show-more:focus{
    box-shadow: none;
  }

  /*FOOTER*/
  .footer {
    background-color: #1a1a1a;
  }

  .footer-image {
    max-width: 230px;
}
  
  .bgcontainer {
    background-color: #1a1a1a;
  }
  
  h5 {
    color: #76b900;
  }
  
  .footercopyrigh {
    background-color: rgb(19, 18, 18);
  }
  
  .ulredes {
    display: flex;
    justify-content: center;
  }
  
  .social-items {
    display: flex;
    justify-content: start;
    gap: 40px;
  }

  @media (max-width: 576px) {
     /* MAIN */
     .categories{
      padding: 1rem;
    }

    .dropdown{
      display: block;
    }

     .categories-list{
      display: none;
    }

    .title {
      max-height: 70px;
      -webkit-line-clamp: 2;
    } 

    .card-body h5{
      font-size: 0.9rem;
    }
  
    .card-body p{
      font-size: 0.8rem;
    }
  
    .card-body a {
      font-size: 0.7rem;
    }

    /* FOOTER */

    .footer-image {
        max-width: 150px;
    }

    .contact-info{
        margin: 0;
    }

    .social-items {
        justify-content: center;
      }
  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    /* MAIN */
    .categories{
      padding: 2rem;
    }

    .dropdown{
      display: block;
    }

    .categories-list{
      display: none;
    }

    .title {
      max-height: 70px;
      -webkit-line-clamp: 2;
    } 

    .card-body h5{
      font-size: 0.9rem;
    }
  
    .card-body p{
      font-size: 0.8rem;
    }
  
    .card-body a {
      font-size: 0.7rem;
    }  
  
    /* FOOTER */
    .footer-image {
        max-width: 180px;
    }

    .social-items {
        justify-content: center;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    /* MAIN */
    .categories{
      padding: 3rem;
    }

    .item{
      font-size: 0.7rem;
    }

    .card-body h5{
      color:#76b900;
      font-size: 1rem;
    }
  
    .card-body p{
      font-size: 0.9rem;
      color: white;
    }
  
    .card-body a {
      font-size: 0.7rem;
      background-color: #76b900;
      border: none;
    }

    /* FOOTER */
    
    .footer-image {
      max-width: 200px;
    }
    .contact-info-container{
        flex-direction: column;
        align-items: center;
    }

    .social-items {
        justify-content: center;
    }   

  }
  
  @media (min-width: 993px) and (max-width: 1200px) {    

  }
  
  @media (min-width: 1201px) and (max-width: 1400px) {

  }
