* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --bs-green: #76b900;
    --bs-teal: #86c000;
    --btn-success: #86c000;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  body {
    margin-top: 60px;
    background-color: black;
    font-family: "Rubik", sans-serif;
  }

  p {
    margin: 0;
  }

  ul{
    margin: 0;
  }

  .section-title {
    font-size: 3rem !important;
    color: var(--bs-green);
  }

  /* HEADER */
  
  nav {
    background-color: #000000;
    box-shadow: 0rem 0.1rem 0.5rem var(--bs-green);
  }
  
  .nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
  }
  
  .nav-link:hover {
    color: var(--bs-green);
  }
  
  .navbar-toggler {
    background-color: transparent;
  }
  
  .navbar-toggler span {
    display: block;
    width: 22px;
    height: 3px;
    border: 1px;
    background: #fff;
  }
  
  .navbar-toggler span + span {
    margin-top: 5px;
    width: 22px;
    margin-left: 0px;
  }
  
  .navbar-toggler span + span + span {
    width: 22px;
    margin-left: 0px;
  }
  
  /* MODAL */
  .form-input input:focus,
  .form-input input:valid {
    border: 2px solid #547900;
  }
  
  .btn-close {
    background-color: #76b900;
  }
  
  .modal-title {
    text-align: center;
  }
  
  .form-span {
    color: #76b900;
  }
  
  .modal-body input {
    background-color: #999999;
    box-shadow: 5px 3px 10px black;
  }
  
  .datos input {
    margin-top: 0.5rem;
  }
  
  .label-name1,
  .label-name2 {
    width: 25rem;
  }
  
  .label-name2 {
    margin-left: 1.5rem;
  }
  
  .boton-sub {
    background-color: #86c000 !important;
  }
  
  .boton-sub:hover {
    background-color: #547900 !important;
  }
  
  .boton-footer button {
    border: transparent;
    box-shadow: 5px 3px 10px black;
  }
  
  .modal-content {
    background-color: #1a1a1a;
    box-shadow: 0 0px 9px 2px #76b900;
  }
  
  ::placeholder {
    color: white !important;
  }

  /* HERO */

  .carousel-item img{
    height: 60vh;
  }

  /* MAS VISITAS */
  
  .most-viewed-title {
    font-size: 3rem !important;
    color: var(--bs-green);
  }
  
  .text-primary {
    color: var(--bs-green) !important;
  }
  
  .btn-success {
    background-color: var(--bs-teal) !important;
  }  
  
  .most-viewed-container .article-photo {
      border: transparent;
      box-shadow: 0.3rem 0.3rem 1rem rgb(60 60 60);
    }
    
    .most-viewed-container .article-photo:hover {
        transform: scale(1.03);
        transition: 0.4s;
        box-shadow: 0.5rem 0.5rem 1rem rgb(60 60 60);
    }
    
    .article-info {
      background-color: #131212;
      border-radius: 0 3px 3px 0;
    }

  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
  }

  .advertising-text-container{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .advertising-title {
    color: var(--bs-green) !important;
  }

   /* OFERTAS */

   .card-container{
    padding: 0;
   }
  
   .col .card {
    background-color: black;
    border-color: #303030;
  }
  
  .col .card:hover {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0rem 0.5rem 1rem rgb(60, 60, 60);
  }
  
  .card-offers {
    background-color: #131212;
  }

  .card-text {
    color: white;
    font-weight: bold;
  }
  
  .card-body a {
    font-weight: bold;
    background-color: var(--btn-success) !important;
    outline: none;
  }
  
  .card-body .btn {
    outline-style: none;
    border-color: transparent;
  }

  .card-title {
    color: var(--bs-green) !important;
  } 
  
  
  .badge {
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;
    background-color: var(--btn-success) !important;
  }
  
  .card-text-span {
    text-decoration: line-through !important;
  }

  /*FOOTER*/
  .footer {
    background-color: #1a1a1a;
  }

  .footer-image {
    max-width: 230px;
}
  
  .bgcontainer {
    background-color: #1a1a1a;
  }
  
  h5 {
    color: #76b900;
  }
  
  .footercopyrigh {
    background-color: rgb(19, 18, 18);
  }
  
  .ulredes {
    display: flex;
    justify-content: center;
  }
  
  .social-items {
    display: flex;
    justify-content: start;
    gap: 40px;
  }

  @media (max-width: 576px) {

    .carousel-item img{
        height: 30vh;
    }

    .advertising-container{
        margin-top: 3rem;
    }

    .footer-image {
        max-width: 150px;
    }

    .contact-info{
        margin: 0;
    }

    .social-items {
        justify-content: center;
      }
  }
  
  @media (min-width: 577px) and (max-width: 768px) {

    .carousel-item img{
        height: 50vh;
    }

    .advertising-container{
        margin-top: 3rem;
    }
    
    .footer-image {
        max-width: 180px;
    }

    .social-items {
        justify-content: center;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {

    .contact-info-container{
        flex-direction: column;
        align-items: center;
    }

    .advertising-container{
        margin-top: 3rem;
    }
    
    .footer-image {
        max-width: 200px;
    }

    .social-items {
        justify-content: center;
    }

    .carousel-item img{
        height: 50vh;
    }

  }
  
  @media (min-width: 993px) and (max-width: 1200px) {    

    .carousel-item img{
        height: 50vh;
    }
  }
  
  @media (min-width: 1201px) and (max-width: 1400px) {

  }